:root {
  --text-color: #ff4136;
  --bg-color: #fff;
  --alt-bg: #ff4136;
  --alt-text: #fff;
}

body::-webkit-scrollbar {
  display: none !important;
}


@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.Outlined-Text {
  font-family: "Poiret One", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

.App {
  color: black;
  background: black !important;
  // font-family: 'Inconsolata', monospace;
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  .backdrop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    opacity: 0.5;
    height: 100%;
  }
}

.blur-container {
  background: #2c303baf;
  border-radius: .5em;
  padding: .5em 1em;
  width: fit-content !important;
  border: 3px solid rgba(255, 255, 255, 0.85);
  opacity: 1;
  transition: background 1.5s .5s ease-out, opacity .5s 1s ease-out, border .5s ease-out, color 1.75s ease-out;
  animation: blur-in 3s 1.5s ease-out both;
  color: rgb(255, 255, 255, 1.0) !important;

  &.no-blur {
    animation: none;
  }

  * {
    color: white !important;
  }

  &.slide-in-left {
    animation: slide-in-left-then-blur 1s ease-out forwards;
  }

  &.slide-out-left {
    opacity: 0;
    background: rgba(255, 255, 255, 0);
    animation: slide-out-left-while-fading .5s .1s ease-out forwards;
  }

  &.slide-in-right {
    animation: slide-in-right-then-blur .5s ease-out forwards;
  }

  &.dark {
    background: rgba(0, 0, 0, 0.5);
    border: 3px solid rgba(0, 0, 0, 0.5);

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: white !important;
    }
  }

  &.yellow-border {
    border: 3px solid #ffee00;
  }

  &.no-border {
    border: none;
  }

  &.shadow {
    box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.5);
  }

  &.hidden-complete {
    opacity: 0;
    background: rgba(255, 255, 255, 0);
    transition: background .5s ease-in, opacity .5s ease-in;
    animation: blur-out .2s .5s ease-in forwards;
    /* Important */
  }

  &.hidden-bg {
    background: rgba(175, 194, 213, 0);
    color: rgba(255, 255, 255, 0.094);
    border: 2px solid rgba(255,255,255,0);
    box-shadow: none;
    transition: background .5s .5s ease-in, border .5s .5s ease-in, color .5s ease-in;
    animation: blur-out .2s .15s ease-in both;
    /* Important */
  }

  @keyframes slide-in-left-then-blur {
    0% {
      transform: translateX(-100vw);
      backdrop-filter: blur(0px);
    }

    50% {
      transform: translateX(0);
      backdrop-filter: blur(0px);
    }

    100% {
      backdrop-filter: blur(20px);
    }
  }

  @keyframes slide-out-left-while-fading {
    0% {
      transform: translateX(0);
      backdrop-filter: blur(20px);
    }

    95% {
      backdrop-filter: blur(20px);
    }

    100% {
      transform: translateX(-100vw);
      backdrop-filter: blur(0px);
    }

  }

  @keyframes slide-in-right-then-blur {
    from {
      transform: translateX(100vw);
      backdrop-filter: blur(0px);
    }

    to {
      transform: translateX(0);
      backdrop-filter: blur(20px);
    }
  }

  /* Let's define an animation: */
  @keyframes blur-in {
    0% {
      backdrop-filter: blur(0px);
    }

    100% {
      backdrop-filter: blur(8px);
    }
  }

  @keyframes blur-out {
    from {
      backdrop-filter: blur(8px);
    }

    to {
      backdrop-filter: blur(0px);
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

.triple-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 3;
}

.js-scroll {
  opacity: 0;

  &.scrolled {
    opacity: 1;
  }
}

.fade-out-top {
  animation: fade-out-top 1.25s linear;
  animation-fill-mode: forwards;
}

.fade-out-top-nav {
  animation: fade-out-top 1.25s linear;
  animation-fill-mode: forwards;
}

.nav-start {
  transform: translateY(-50px);
}

.fade-in {
  animation: fade-in .5s ease-out forwards;
}

.fade-out {
  animation: fade-out .5s ease-in forwards;
}

.fade-in-intro {
  animation: fade-in 2s linear forwards;
}

.fade-in-bottom {
  animation: fade-in-bottom 1.25s linear;
  animation-fill-mode: both;
}

.fade-in-top {
  animation: fade-in-top .5s ease-out both;
}

.slide-in-left {
  animation: slide-in-left .5s ease-out both;
}

.slide-out-left {
  animation: slide-out-left .5s ease-in both;
}

.slide-in-right {
  animation: slide-in-right .5s ease-out both;
}

.slide-out-right {
  animation: slide-out-right .5s ease-in both;
}

.fade-in-grow {
  animation: fade-in-grow .5s ease-out both;
}

.fade-out-shrink {
  animation: fade-out-shrink .5s ease-in both;
}

.hidden-y-scale {
  opacity: 0;
  transform: scaleY(0);
  pointer-events: none;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100vw);
    opacity: 0;
    pointer-events: none;
  }

  100% {
    transform: translateX(0);
    opacity: 1;

    pointer-events: unset;
  }
}

@keyframes slide-out-left {
  from {
    transform: translateX(0);
    opacity: 1;
    pointer-events: unset;
  }

  to {
    transform: translateX(-100vw);
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100vw);
    opacity: 0;
    pointer-events: none;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    pointer-events: unset;
  }
}

@keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
    pointer-events: unset;
  }

  100% {
    transform: translateX(100vw);
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes fade-in-bottom {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    pointer-events: none;
  }

  50% {
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    pointer-events: unset;
  }
}

@keyframes fade-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
    pointer-events: none;
  }

  // 50% {
  //   transform: translateY(0);
  // }

  100% {
    transform: translateY(0);
    opacity: 1;
    pointer-events: unset;
  }
}

@keyframes fade-out-top {
  0% {
    opacity: 1;
    pointer-events: none;
  }

  50% {
    opacity: .3;
  }

  100% {
    opacity: 0;
    transform: translateY(-50px);
    pointer-events: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    pointer-events: none;
  }

  100% {
    opacity: 1;
    pointer-events: unset;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    pointer-events: none;
  }

  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes fade-in-grow {
  0% {
    opacity: 0;
    transform: scale(0, 0);
    pointer-events: none;
  }

  75% {
    transform: scale(1.5, 1.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
    pointer-events: unset;
  }
}

@keyframes fade-out-shrink {
  0% {
    opacity: 1;
    transform: scale(1, 1);
    pointer-events: none;
  }

  100% {
    transform: scale(.25, .25);
    opacity: 0;
    pointer-events: none;
  }
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}