.custom-ol {
    display: flex !important;
    flex-flow: row !important;

    > li {
        margin: 0 1em !important;
    }
}

.custom-root {
    margin: 0 3em !important;
    &:hover {
        cursor:e-resize
    }
}