.landing {
  min-height: 100vh;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  // backdrop-filter: blur(2px);

  main {
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    padding: 3.25rem 1.5rem 1rem;
    text-align: center;
    color: rgb(0, 0, 0);
    z-index: 1;

    .intro-wrapper {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      z-index: 1;

      height: fit-content;
      width: fit-content;
      margin: auto;
      padding: 1.5rem;
      border-radius: 1em;
      // border-radius: 1em;
      // backdrop-filter: blur(2px);
      // background: rgba(255, 255, 255, 0.505);
      // backdrop-filter: blur(10px);
      // transition: background 1s ease, backdrop-filter .25s linear .5s;
      // color: white !important;

      // * {
      //   // color: white !important;
      // }

      .intro {
        font-size: 3.5rem;
        // font-weight: bold;
        // line-height: 4rem;
        padding-bottom: 1rem;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        * {
          transition: all .15s linear;
        }

        .menu {
          /* offset-x | offset-y | blur-radius | color */
          // text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.51);
          // margin-right: 1rem;
          display: -ms-flexbox;
          display: flex;
          -ms-flex: 1 1;
          flex: 1 1;
          -ms-flex-pack: end;
          justify-content: flex-end;
          font-family: 'Inconsolata', monospace;

          .menu__item {
            padding: 0.25rem 0;
            // padding: 0 !important;
            margin: 0 1rem;
            font-size: 1.25rem;
            font-weight: 400;
            border-bottom: 2px solid white;

            &:hover {
              cursor: pointer;
              border-bottom: 2px solid white;
            }
          }
        }

      }

      .tagline {
        font-size: 1.375rem;
        margin: 1.5rem 0;
        font-weight: 300;
        z-index: 1;

      }
    }

  }

  .social {
    padding: 0.25rem 0;
    font-size: 3rem;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.51);

    a {
      padding: 0 0.625rem;

      &.devto svg {
        margin-bottom: -0.25rem;
        width: 2.7rem;
        height: 2.7rem;
        color: transparent !important;
      }
    }

    &.animate-icons a {
      display: inline-block;

      &:hover,
      &:focus,
      &:active {
        -webkit-animation-name: icon-wobble;
        animation-name: icon-wobble;
        -webkit-animation-duration: 0.75s;
        animation-duration: 0.75s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
      }
    }
  }

}



@media (max-width: 425px) {
  .social {
    font-size: 2.5rem;
  }
}

@media (max-width: 425px) {
  .social a.devto svg {
    margin-bottom: -0.225rem;
    width: 2.25rem;
    height: 2.25rem;
  }
}

@-webkit-keyframes icon-wobble {
  25% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  75% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}


@keyframes icon-wobble {
  25% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  75% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}