.portfolio {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1;
  scroll-margin: 3em;
  transition: all .25s ease-in-out;
  width: 100%;

  >* {
    transition: all .25s ease-in-out;
  }

  h1 {
    padding: 1rem 0;
    font-size: 3rem;
    z-index: 1;
    font-weight: 200;
  }

  .content-grid {
    -ms-flex: auto;
    flex: auto;
    z-index: 1;
    display: flex;
    width: 100%;
    flex-direction: column;

    .title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 3em;
      width: auto;
      margin-top: 5em;

      > * {
        margin-bottom: 1em;
      }

      >div {
        // margin: 0 .25em;
        padding: 0 1em;
        border-radius: .5em;
        backdrop-filter: blur(20px);
      }

      > button {
        background-color: rgba(255, 255, 255, 0.35);
        padding: .25em;
        border-radius: .5em;
        margin-left: .5em;
        backdrop-filter: blur(20px);
      }
    }

    *::-webkit-scrollbar {
      display: none !important;
    }

    *::-webkit-scrollbar {
      width: .5em;
      scrollbar-gutter: stable both-edges;
      scrollbar-width: thin;
    }

    *::-webkit-scrollbar-thumb {
      background-color: #888;
    }

    /* Hide scroll bars in Firefox */
    * {
      scrollbar-width: thin;
      scrollbar-color: #888 transparent;
    }

    *::-webkit-scrollbar-track {
      background: transparent;
    }
  }

  .portfolio-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1;
    flex: 1 1;
    justify-items: center;
    align-content: center;


  }
}

@media (max-width: 426px) {
  .portfolio {
    padding: 0;
    padding-top: 2rem;
  }

  .portfolio-wrapper {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
  }
}