.transition {
    pointer-events: none;

    &.fade {
        opacity: 1;

        &.in {
            animation: fade-in .5s ease-out;
            pointer-events: inherit;
        }

        &.out {
            animation: fade-out .5s ease-in;
            opacity: 0;
            pointer-events: none;
        }

        @keyframes fade-in {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes fade-out {
            0% {
                opacity: 1;
            }

            50% {
                opacity: 0;
            }

            100% {
                opacity: 0;
            }
        }
    }
}